.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: var(--transition-scale);
  transform-origin: center center;
  background: var(--mui-palette-background-paper);
  border-radius: inherit;
}
